@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #555;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
img {
    pointer-events: none;
}
body {  
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    max-width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 100%;
    margin: 10vh 0;
}

a{
    text-decoration: none;
    transition: color 0.3s ease;
}

a:visited{
    text-decoration: none;
}

button{
    background-color: #ffc917;
    transition: color 0.3s ease;
    box-shadow: 0 1px #888888;
    color: #555;
    text-transform: uppercase;
    padding: 1.4vh;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

button:hover{
    color: #fff;
}

header {
    display: block;
}

.main-header {
    position: relative;
}

header {
    display: block;
}

.main-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #fff;
    border-bottom: 1px solid #363636;
}

.logo img {
    width: 25vh;
}

.top-nav-header {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.top-nav-items li {
    list-style-type: none;
    display: inline;
    margin-left: 2vh;
}

.top-nav-items li a:hover{
    color: #ffc917;
}


.events {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.event-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
}

.event-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.event-details {
    padding: 10px;
}

.event-details h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.price {
    color: #ff5722;
    font-weight: bold;
}

.date {
    color: #777;
    font-size: 0.9em;
    text-transform: capitalize;
}

.buy-ticket-button {
    display: none;
    background-color: #ffc917;
    color: #555;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.buy-ticket-button:hover {
    background-color: #555;
    color: #fff;
}

/* Show button on hover */
.event-item:hover .buy-ticket-button {
    display: block;
    
}

/* Filter Section Styles */

.filter-section {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 50px 0;
    margin-bottom: 2vh;
    margin-top: 2vh;
    background-image: url('/imgs/bg.png'); /* Update with the correct path */
    background-size:auto;
    background-position: center;
    
}

.filter-group select {
    width: 100%;
    padding: 1vh;
}

@media (max-width: 1300px) {
    .events {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .events {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .events {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .events {
        grid-template-columns: 1fr;
    }

    .buy-ticket-button {
        display: block;
    }

    .filter-section {
        background-image: none;
        padding: 5px;
    }
}

.event-detail-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 50px 0;
    gap: 20px;
}

.event-photo {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.event-details-full h3 {
    font-size: 1em;
    margin-bottom: 20px;
    color: #333;
}

.event-details-full p {
    margin: 10px 0;
    font-size: 1.1em;
    
}

.event-details-full .price {
    font-size: 1.5em;
    color: #ff5722;
    font-weight: bold;
}

.event-details-full .date,
.event-details-full .location {
    color: #777;
    font-size: 1em;
}

.event-details-full .description {
    margin-top: 20px;
    font-size: 1em;
    color: #555;
    white-space: pre-wrap;
}

.event-left img {
    width: 100%;
}

.event-left iframe{
    width: 100%;
    height: 50vh;
}

.event-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event-right {
    width: 35%;
    background-color: #f9f9f9;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 500;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 16px;
}

textarea {
    height: 150px;
    resize: vertical;
}

button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #e64a19;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-controls button {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}

#page-info {
    display: inline-block;
    margin: 0 10px;
    line-height: 32px;
}

/* WYSIWYG Styles */
.ql-container {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.ql-editor {
    min-height: 150px;
}

/* USER INFO */

.user-posts-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.user-info {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-right: 20px;
}

.user-posts {
    width: 65%;
    max-height: 300px; 
    overflow-y: scroll; 
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f1f1f1;
}

.post-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
}

.post-item button {
    margin-right: 10px;
}

.edit-form {
    width: 90%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    align-self: center;
}

.top-buttons li {
    display: inline-block;
}

.top-buttons a {
    background-color: #ffc917;
    transition: color 0.3s ease;
    box-shadow: 0 1px #888888;
    color: #555;
    text-transform: uppercase;
    padding: 1.4vh;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
}

.top-buttons a:hover {
    color: #fffcfc;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
} 



/* user controll */
.action {
    align-self: center;
  }
  
  .action .profile {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .action .menu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
  }
  
  .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.5em;
  }
  
  .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
  }
  
  .action .menu ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
  }
  
  .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover img {
    opacity: 1;
  }
  
  .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover a {
    color: #ff5d94;
  }
  
  #newsletter-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

